ProxyRoute/node_modules/
Tenjin\ Service/node_modules
Tenjin\ Service/.sass-cache
Tenjin\ Service/cache
ProxyRoute/config.js
Tenjin\ Service/config.js
TenjinMobile/app/src/main/java/com/scelos/tenjin/Config.java