[submodule "RoomLaunch/app/libs/volley"]
	path = RoomLaunch/app/libs/volley
	url = https://android.googlesource.com/platform/frameworks/volley
	branch = master
[submodule "TenjinMobile/app/libs/volley"]
	path = TenjinMobile/app/libs/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "TenjinMobile/app/libs/FloatingActionButton"]
	path = TenjinMobile/app/libs/FloatingActionButton
	url = https://github.com/makovkastar/FloatingActionButton.git
