#clock {
	font-family: 'Poiret One', cursive;
	position: absolute;
	bottom: 15px;
	left: 30px;
	color: white;
	font-size: 50px;
	width:100%;
}

#logo {
	background: url("../src/tenjin-rounded.svg");
	-webkit-background-size: cover;
	background-size: cover;
	width: 175;
	height: 70;
	position: absolute;
	top: 0px;
	left: 30px;
	opacity: 0.75;
}

#scroller {
	bottom: 20%;
	position: absolute;
	color: white;
	font-size: 18px;
	width: 100%;
}

#scrollerContent {
	position: absolute;
	float: left;
	white-space: nowrap;
}