body{
	overflow: hidden;
	height:100%;
	width:100%;
	background-size:cover;
	-webkit-perspective: 1000;
	-webkit-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;
}

#mainView{
	height: 65%;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 10%;
}

.centerView {
	padding: 15px;
	position: absolute;
	width:90%;
	left: 5%;
	height: 100%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(255,255,255,0.95);
	-webkit-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.6);
}

.page-title {
	font-size: 22pt;
	font-weight: 500;
	margin-bottom:25px;
	height:70px;
	position:relative;
}
.page-title-icon{
	float:left;
	height:55px;
	width:62px;
	background: url("../src/icons/forecastIO.png");
	background-size:cover;
}
.page-title-name{
	font-size: 22pt;
	font-weight: 500;
	margin-bottom:15px;
	height:50px;
	position:relative;
}
