$stat-size: 7px;
$row-size: 15px;

.uit-status {
	color: white;
	border-radius: $stat-size*5;
	padding: $stat-size;
	margin-right: $stat-size;
	float: left;
    margin-top: 4px;
}

.uit-message {
	float: right;
	border-radius: $stat-size;
}

.uit-status-row {
	margin-top: $row-size;
	margin-bottom: $row-size;
	font-size: $row-size;
}

.OK {
	background: #80C500;
}

.Degraded {
	background: #DCBD00;
}

.Down {
	background: red;
}

.Unknown {
	background: #555;
}