.weeklySummary{
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 400;
	height: 80px
}

.weeklySubText{
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	margin-top: 5px;
	margin-bottom: 5px;
}


.weeklyDayIcon{
	text-align: center;
}
.weeklyWeather{
	text-align: center;
	font-size: 16px;
	font-weight: 400;

}
.weeklyDay{
	text-align: center;
	margin-bottom: 10px;
	font-size: 24pt;
	font-weight: 400;
}
.weeklyOverallSummary{
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: 200;
	position: absolute;
	bottom: 20px;
	width:100%;
	text-align: center;
}