<html ng-app="tenjin">
	<head>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<script src="/bower_components/angular-skycons/angular-skycons.min.js"></script>
		<script type="text/javascript" src="tenjin.js"></script>
		<script type="text/javascript" src="controllers/weather.js"></script>
		<script type="text/javascript" src="controllers/uit.js"></script>
		<script type="text/javascript" src="controllers/reddit.js"></script>
		<link rel="stylesheet" type="text/css" href="css/animations.css"/>
		<link rel="stylesheet" type="text/css" href="css/page.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<link rel="stylesheet" type="text/css" href="css/weather.css"/>
		<link rel="stylesheet" type="text/css" href="css/uit.css"/>
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<script src="//localhost:35729/livereload.js"></script>
	</head>

	<body ng-controller="mainController">
		<div id="logo"></div>

		<div class="container-fluid"> 
			<div id="mainView">
				<div ng-view class="slide"></div>
			</div>
		</div>

		<div class="row">
			<div id="scroller">
				<span ng-repeat="(key, value) in reddit" id="scrollerContent">{{key}} - <span ng-repeat="story in value">{{title }}</span></span>	
			</div>
			</div>
			<div class="col-md-2 pull-right" id="clock">{{time}}</div>
		</div>
	</body>
</html>